{% extends 'base.html' %}

{% block title %}Cases{% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
<div class="text-center">
    <a href="{% url 'download_all_cases' %}" class="btn btn-success">Download All Cases</a>
    <a href="{% url 'add_region' %}" class="btn btn-primary">Add Region</a>
    <a href="{% url 'add_help' %}" class="btn btn-primary">Add Help Type</a>
</div>

<br>
{% for case in case_list %}
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold"><a href=" {% url 'case_detail' case.pk %}">{{ case.name }}</a></span> &middot;
            <span class="text-muted">by {{ case.author }} | {{ case.addDate }}</span>
        </div>
        <div class="card-body">
            <h3>Describtion</h3>
            {{ case.caseDescribtion }}
        </div>
        <div class="card-footer text-muted">
            <div class="text-center">
                <a href="{% url 'case_edit' case.pk %}" class="btn btn-primary">Edit</a> |
                <a href="{% url 'case_delete' case.pk %}" class="btn btn-danger">Delete</a> |
                <a href="{% url 'download_excel' case.pk %}" class="btn btn-success">Download</a>
                <hr>
            </div>
            <div class="text-left">
                <h5>Comments:</h5>
                {% for comment in case.comment_set.all %}
                    <p>
                        <span class="font-weight-bold">
                            {{ comment.author }} &middot;
                        </span>
                        {{ comment }}
                    </p>
                {% endfor %}
            </div>
            <br>
        </div>

{% endfor %}
{% endblock content %}
