html,
body {
    height: 100%;
}



.main-heading {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    padding-bottom: 1.5rem !important;
    padding-top: 0.2rem !important;
    text-align: center !important;
}